[submodule "backend"]
	path = sistema-inventario-ws
	url = https://github.com/RamonCheno/sistema-inventario-ws.git
[submodule "frontend"]
	path = sistema-inventario-ui
	url = https://github.com/RamonCheno/sistema-inventario-ui.git
